.carousel-theme{
    .carousel-inner .item img{
        height: 600px;
    }
    @include respond-below(sm) {
        .carousel-inner .item img{
            height: inherit;
            min-height: 300px;
        }
    }
    
    .carousel-caption{
        padding-bottom: 130px;
        
        @include respond-below(sm){
            display: none;
        }
        
        h3{
            font-size: 52px;
            font-family: 'Pangram ExtraBold';
            margin-bottom: 15px;
            text-align: left;
        }
        h3::after{
            content: '';
            position: absolute;
            width: 65px;
            height: 2px;
            background: #fff;
            left: 0;
            margin-top: 65px;
        }
        
        p{
            text-align: left;
            max-width: 380px;
            padding: 25px 0px;
            font-size: 15px;
            line-height: 1.3;
        }
    }
    
    .carousel-indicators{
        padding-bottom: 20px;
        
        li{
            height: 16px;
            width: 40px;
            transition: $transition;
            border-radius: $border-radius;
            background: rgba(255,255,255,0.3);
            margin: 0 8px;
            cursor: pointer;
            border: 0;
        }
        
        .active{
            background: $selected-color;
        }
    }
}